<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    Menu Lateral
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()"><mat-icon>subject</mat-icon></button>
      <button mat-button routerLink="/login" class="ml-2" routerLinkActive="active">Registrar</button>
      <button mat-button routerLink="/" class="ml-auto" routerLinkActive="active">AGM</button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>